* text=auto
*.lua text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.patch text eol=lf whitespace=-trailing-space,-space-before-tab,-blank-at-eof
*.ps1 text eol=crlf
*.cmd text eol=crlf
